.mainContainer {
  margin: 3%;
  display: flex;
}

.formContainer {
  margin-right: 15px;
  width: 50vw;
}

.mapContainer {
  margin-left: 15px;
  width: 50vw;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
}